								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
                 {% if site.data.navigation.toc %}
                  <ul>
										{% for item in site.data.navigation.toc %}
										   <li>
                       {% if item.groupname %}
											   <span class="opener">{{ item.groupname }}</span>
 											   <ul>
													 {% for subitem in item.subsubfolderitems %}
 												     <li><a href="{{ subitem.url | relative_url }}">{{ subitem.page }}</a></li>
													 {% endfor %}
 											   </ul>
											 {% else %}
                         <a href="{{ item.url | relative_url }}">{{ item.page }}</a>
											 {% endif %}
										 </li>
										{% endfor %}
									</ul>
								 {% endif %}
							 </nav>
